/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

 /* common css style*/
body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 100px;
}

button{
    border: none;
    color: white;
    background-color: #DD0000;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 20px;
}

.section-title{
    font-size: 32px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 30px;
}

/* header css style  */


.show-section{
    background-color: #161616;
    color: #FFFFFF;
    width: 1200px;
    height: 538px;
    margin: 0 auto;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.show-details{
    padding-left: 60px;
}
.show-details h1{
    font-size: 45px;
    font-weight: 700px;
}
.show-details p{
    margin-bottom: 50px;
}
.half img{
    width: 80%;
    margin-left: 40px;
    margin-top: 33px;
}

/*Match section css style */
 
.container{
    width: 1200px;
    margin: 0 auto;
    
}
.upgrade-site{
    margin-bottom: 100px;
}
.match-result-area{
    display: grid;
    grid-template-columns:1fr 4fr;
    gap: 20px;
    margin: 0 auto;
}
.upcoming{
    width: 210px;
    height: 210px;
    margin-bottom: 35px;
    background-color: #161616;
    border-radius: 5px;
}
.schedule a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.first-btn {
    background-color: #DD0000;
    width:150px;
    margin: auto;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
}
.group-btn{
    background-color:white;
    width: 150px;
    margin: auto;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
}
.first-btn a {
    color: #fff;
}
.group-btn a{
    color: #161616;
}

.blog-btn{
    background-color:white;
    width: 150px;
    margin: auto;
    padding: 5px;    
    margin-top: 25px;
    border-radius: 5px;
}
.blog-btn a{
    color: black;
}.first-btn {
    background-color: #DD0000;
    width:150px;
    margin: auto;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
}
.group-btn{
    background-color:white;
    width: 150px;
    margin: auto;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
}
.first-btn a {
    color: #fff;
}
.group-btn a{
    color: #161616;
}

.blog-btn{
    background-color:white;
    width: 150px;
    margin: auto;
    padding: 5px;    
    margin-top: 25px;
    border-radius: 5px;
}
.blog-btn a{
    color: black;
}
.all-matches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}
.upcomings-matches{
    padding: 14px;
    border: 2px solid #dfdada;
    border-radius: 5px;
}

.match-fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match-span{
    margin: 0 10px;
    font-weight: 700;
}
.match-fixed img{
    width: 122px;
    height: 83px;
}
.match-details{
    text-align: center; 
    padding: 15px;
} 
.match-details a{
    text-decoration: none;
    color: #161616;
    border: 1px solid #161616;
    padding: 0 12px;
    border-radius: 5px;
}
.match-details h4{
    margin: 0;
    font-size: 25px;
}
.match-details p{
    margin: 0;
}
.icon{
   display: grid;
   grid-template-columns: 1fr 1fr 2fr;
   grid-gap: 25px;
   font-size: 15px;
}
.time {
    display: flex;
    justify-content: space-between;
    gap: 5px; 
}
.message{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

/* footer css styles */
footer{
    background-color: #161616;
    color: white;
    padding:50px;
}
.footer-title{
    text-align: center;
}
hr{
    width: 70%;
    margin-bottom: 40px;
}
.footer-extra ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: wheat;
}
.footer-extra li{
    list-style: none;
}


@media only screen and (max-width: 778px) {
   
   .container{
    width: auto;
   }
   .show-section{
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    height: 790px;
   }
   .half img{
    margin-top: 42px;
   }
   .match-result-area{
    display: grid;
    grid-template-columns: 1fr;
   }
   .all-matches{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 30px;
    margin: 25px;
    
}
.upcoming{
    width: auto;
    background-color: white; 
    height: 100px;

}
.schedule{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 8px;
}
.first-btn {
    background-color: #DD0000;
    width:103px;
}
.group-btn{
    background-color:white;
    width: 92px;
}

.blog-btn{
    background-color:white;
    width: 92px;
}
  }